body{
    
        position: relative;
        width: 100%;
        height: 500px; /* ou la hauteur qui te convient */
        background-image: url('complexe-background-NH.jpg'); /* l'image que tu veux */
        background-size: cover;
        background-position: center;
        filter: hue-rotate(90deg); /* change la couleur bleue en vert */
      }
      
      .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 255, 0, 0.3); /* overlay vert semi-transparent */
        pointer-events: none;
      }
      










}